<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="io.github.grasp"
	  android:versionCode="1"
	  android:versionName="1.0">

  <uses-sdk android:minSdkVersion="23"
	    android:targetSdkVersion="29" />

  <uses-permission
      android:name=
      "android.permission.WAKE_LOCK" />
  <uses-permission
      android:name=
      "android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission
      android:name=
      "android.permission.WRITE_EXTERNAL_STORAGE"/>
  
  <application
      android:label="GRASP"
      android:icon="@drawable/grasp">
    <profileable android:shell="true" />
    <activity
	android:name=".GRASP"
        android:label="GRASP"
	android:theme="@android:style/Theme.NoTitleBar"
	android:configChanges="keyboard|keyboardHidden|orientation">
      <intent-filter>
        <action
	    android:name="android.intent.action.MAIN" />
        <category
	    android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

  </application>
</manifest>
